.sidebar {
  background-color: var(--color-sidebar);

  &__search-block {
    padding: 1rem 0.5rem;
    display: grid;
    gap: 1rem;
    &__input {
      padding: 0.75rem 0.5rem 0.75rem 2.25rem;
      border-radius: 2rem;
      background-image: url(../../assets/search-icon@3x.png);
      background-size: 1rem;
      background-repeat: no-repeat;
      background-position: 1rem center;
      font-size: var(--font-size-base);
      background-color: var(--color-search-bar);
      color: var(--color-search-bar-text);
      border: none;
    }
    &__title {
      font-weight: var(--font-weight-semibold);
      color: var(--color-search-bar-title);
      font-size: var(--font-size-sm);
      padding: 0 01rem;
      &__value {
        color: var(--color-search-bar-count);
      }
    }
  }
  &__invoices {
    &__invoice {
      padding: 1rem 1.5rem;
      font-size: var(--font-size-sm);
      display: grid;
      gap: 0.75rem;
      font-weight: var(--font-weight-semibold);
      color: var(--color-sidebar-invoice-primary);
      border-top: 1px solid var(--color-sidebar-invoice-border);
      background: transparent;
      border: none;
      width: 100%;
      &--selected,
      &:hover {
        background-color: var(--color-selected-invoice-background);
        color: var(--color-white);
      }
      &__top-row {
        display: flex;
        justify-content: space-between;
        &__time {
          font-size: var(--font-size-xs);
          color: var(--color-sidebar-invoice-time);
        }
      }
      &__bottom-row {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        &__left {
          display: grid;
          gap: 0.5rem;
          text-align: left;
          &__name {
            color: var(--color-sidebar-invoice-name);
          }
        }
        &__amount {
          font-weight: var(--font-weight-semibold);
          font-size: var(--font-size-base);
        }
      }
    }
  }
}
