.table {
  @media print {
    margin-top: 2rem;
  }
  width: 100%;
  &__head {
    &__item {
      padding: 1rem;
      border-top: 1px solid var(--color-invoice-table-border);
      border-bottom: 1px solid var(--color-invoice-table-border);
      color: var(--color-invoice-table-title);
      font-weight: var(--font-weight-semibold);
      font-size: var(--font-size-sm);
      &--align-left {
        text-align: left;
      }
      &--align-right {
        text-align: right;
      }
      &--align-center {
        text-align: center;
      }
    }
  }
  &__body {
    &__item {
      padding: 2rem 1rem;
      border-top: 1px solid var(--color-invoice-table-border);
      border-bottom: 1px solid var(--color-invoice-table-border);
      font-weight: var(--font-weight-semibold);
      &--align-left {
        text-align: left;
      }
      &--align-right {
        text-align: right;
      }
      &--align-center {
        text-align: center;
      }
    }
  }
  &--wrapper {
    max-height: 40vh;
    overflow-y: auto;
  }
}
