:root {
  // CSS Variables for colors
  --color-white: #fff;
  --color-black: #000;
  --color-navbar: #306090;
  --color-sidebar: #303048;
  --color-background: #f2f3f5;
  --color-search-background: #484860;
  --color-search-bar: #353e48;
  --color-search-bar-text: #778495;
  --color-selected-invoice-background: #404b57;
  --color-search-bar-title: #606a76;
  --color-search-bar-count: #86909c;
  --color-sidebar-invoice-name: #66a7ff;
  --color-sidebar-invoice-primary: #9ca7ba;
  --color-sidebar-invoice-time: #798491;
  --color-sidebar-invoice-border: #3d4550;
  --color-invoice-time: #767c84;
  --color-invoice-title: #95999e;
  --color-invoice-table-border: #e5e7ec;
  --color-invoice-table-title: #b4bbc5;
  --color-invoice-summary-title: #383f48;
  --color-fab: #ff64a4;
  --color-dialog-subtitle: #878c93;
  --color-dialog-button: #f3f4f6;
  --color-dialog-footer: #eef0f2;

  // CSS Variables for font sizes in rem
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;
  --font-size-xxxl: 2rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-xxs: 0.625rem;
  // CSS Variables for font weights
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
}
