:root {
  // CSS Variables for colors
  --color-white: #fff;
  --color-sidebar: #303048;
  --color-background: #f0f0f0;
  --color-navbar: #306090;
  --color-search-background: #484860;
  --color-search-bar: #353e48;
  --color-search-bar-text: #778495;
  --color-selected-invoice-background: #404b57;
  --color-fab: #ff64a4;
  --color-text: #383f48;
  // CSS Variables for font sizes in rem
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;
  --font-size-xxxl: 2rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-xxs: 0.625rem;
}
