/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  cursor: pointer; }

body {
  font-family: 'Montserrat', sans-serif; }

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-navbar: #306090;
  --color-sidebar: #303048;
  --color-background: #f2f3f5;
  --color-search-background: #484860;
  --color-search-bar: #353e48;
  --color-search-bar-text: #778495;
  --color-selected-invoice-background: #404b57;
  --color-search-bar-title: #606a76;
  --color-search-bar-count: #86909c;
  --color-sidebar-invoice-name: #66a7ff;
  --color-sidebar-invoice-primary: #9ca7ba;
  --color-sidebar-invoice-time: #798491;
  --color-sidebar-invoice-border: #3d4550;
  --color-invoice-time: #767c84;
  --color-invoice-title: #95999e;
  --color-invoice-table-border: #e5e7ec;
  --color-invoice-table-title: #b4bbc5;
  --color-invoice-summary-title: #383f48;
  --color-fab: #ff64a4;
  --color-dialog-subtitle: #878c93;
  --color-dialog-button: #f3f4f6;
  --color-dialog-footer: #eef0f2;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 1.75rem;
  --font-size-xxxl: 2rem;
  --font-size-sm: 0.875rem;
  --font-size-xs: 0.75rem;
  --font-size-xxs: 0.625rem;
  --font-weight-normal: 400;
  --font-weight-semibold: 600; }

.navbar {
  background-color: var(--color-navbar);
  color: var(--color-white);
  padding: 1rem 1.5rem;
  font-weight: var(--font-weight-semibold); }

.content {
  display: grid;
  grid-template-columns: 20rem 1fr;
  min-height: calc(100vh - 3rem); }

.sidebar {
  background-color: var(--color-sidebar); }
  .sidebar__search-block {
    padding: 1rem 0.5rem;
    display: grid;
    gap: 1rem; }
    .sidebar__search-block__input {
      padding: 0.75rem 0.5rem 0.75rem 2.25rem;
      border-radius: 2rem;
      background-image: url(../../assets/search-icon@3x.png);
      background-size: 1rem;
      background-repeat: no-repeat;
      background-position: 1rem center;
      font-size: var(--font-size-base);
      background-color: var(--color-search-bar);
      color: var(--color-search-bar-text);
      border: none; }
    .sidebar__search-block__title {
      font-weight: var(--font-weight-semibold);
      color: var(--color-search-bar-title);
      font-size: var(--font-size-sm);
      padding: 0 01rem; }
      .sidebar__search-block__title__value {
        color: var(--color-search-bar-count); }
  .sidebar__invoices__invoice {
    padding: 1rem 1.5rem;
    font-size: var(--font-size-sm);
    display: grid;
    gap: 0.75rem;
    font-weight: var(--font-weight-semibold);
    color: var(--color-sidebar-invoice-primary);
    border-top: 1px solid var(--color-sidebar-invoice-border);
    background: transparent;
    border: none;
    width: 100%; }
    .sidebar__invoices__invoice--selected, .sidebar__invoices__invoice:hover {
      background-color: var(--color-selected-invoice-background);
      color: var(--color-white); }
    .sidebar__invoices__invoice__top-row {
      display: flex;
      justify-content: space-between; }
      .sidebar__invoices__invoice__top-row__time {
        font-size: var(--font-size-xs);
        color: var(--color-sidebar-invoice-time); }
    .sidebar__invoices__invoice__bottom-row {
      display: flex;
      align-items: flex-end;
      justify-content: space-between; }
      .sidebar__invoices__invoice__bottom-row__left {
        display: grid;
        gap: 0.5rem;
        text-align: left; }
        .sidebar__invoices__invoice__bottom-row__left__name {
          color: var(--color-sidebar-invoice-name); }
      .sidebar__invoices__invoice__bottom-row__amount {
        font-weight: var(--font-weight-semibold);
        font-size: var(--font-size-base); }

.invoice {
  background-color: var(--color-background);
  padding: 2rem 1.5rem;
  display: grid;
  gap: 2rem;
  align-content: start;
  position: relative; }
  .invoice__fab {
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
    z-index: 1;
    border-radius: 50%;
    border: none;
    background-color: var(--color-fab);
    display: flex;
    place-items: center;
    padding: 1rem;
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.02), 0 0px 2.5px rgba(0, 0, 0, 0.028), 0 0px 4.6px rgba(0, 0, 0, 0.035), 0 0px 8.3px rgba(0, 0, 0, 0.042), 0 0px 15.5px rgba(0, 0, 0, 0.05), 0 0px 37px rgba(0, 0, 0, 0.07); }
    .invoice__fab__image {
      width: 1.5rem; }
  .invoice__title {
    color: var(--color-invoice-table-title);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-xs); }
  .invoice__details {
    padding: 4rem 1.5rem;
    background-color: var(--color-white);
    border-radius: 0.25rem;
    display: grid;
    gap: 2rem; }
    @media screen {
      .invoice__details {
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.02), 0 0px 2.5px rgba(0, 0, 0, 0.028), 0 0px 4.6px rgba(0, 0, 0, 0.035), 0 0px 8.3px rgba(0, 0, 0, 0.042), 0 0px 15.5px rgba(0, 0, 0, 0.05), 0 0px 37px rgba(0, 0, 0, 0.07); } }
    .invoice__details__top-row {
      display: flex;
      justify-content: space-between; }
      .invoice__details__top-row__left {
        display: grid;
        gap: 0.5rem;
        font-size: var(--font-size-sm); }
        .invoice__details__top-row__left__title {
          font-weight: var(--font-weight-semibold); }
        .invoice__details__top-row__left__time {
          color: var(--color-invoice-time);
          font-size: var(--font-size-xs); }
      .invoice__details__top-row__right {
        display: flex;
        align-items: start;
        gap: 2rem; }
        .invoice__details__top-row__right__button {
          display: flex;
          gap: 0.5rem;
          align-items: center;
          background-color: var(--white);
          border-radius: 0.25rem;
          border: 1px solid var(--color-sidebar-invoice-name);
          color: var(--color-sidebar-invoice-name);
          font-size: var(--font-size-sm);
          font-weight: var(--font-weight-semibold);
          padding: 0.75rem 1rem; }
          @media print {
            .invoice__details__top-row__right__button {
              display: none; } }
          .invoice__details__top-row__right__button__image {
            width: 1.25rem; }
    .invoice__details__summary {
      display: grid;
      gap: 1rem;
      justify-content: end; }
      @media print {
        .invoice__details__summary {
          margin-top: 2rem; } }
      .invoice__details__summary__row {
        display: flex;
        justify-content: space-between;
        gap: 6rem; }
        .invoice__details__summary__row__title {
          font-weight: var(--font-weight-semibold);
          font-size: var(--font-size-sm);
          color: var(--color-invoice-summary-title); }
        .invoice__details__summary__row__value {
          font-weight: var(--font-weight-semibold);
          font-size: var(--font-size-base); }
    .invoice__details__total {
      display: grid;
      justify-content: end; }
      @media print {
        .invoice__details__total {
          margin-top: 2rem; } }
      .invoice__details__total__row {
        display: flex;
        justify-content: space-between;
        gap: 5rem; }
        .invoice__details__total__row__title {
          font-weight: var(--font-weight-semibold);
          font-size: var(--font-size-sm);
          color: var(--color-invoice-summary-title); }
        .invoice__details__total__row__value {
          font-weight: var(--font-weight-semibold);
          font-size: var(--font-size-base); }
  .invoice__no-data {
    font-weight: var(--font-weight-semibold);
    display: grid;
    place-items: center;
    gap: 2rem; }
    .invoice__no-data__title {
      color: var(--color-invoice-table-title);
      font-size: var(--font-size-lg); }
    .invoice__no-data__button {
      font-size: var(--font-size-sm);
      padding: 1rem 2rem;
      background-color: var(--color-sidebar-invoice-name);
      color: var(--color-white);
      border-radius: 0.25rem;
      border: none; }

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  place-items: center; }
  .dialog--open {
    display: grid; }
  .dialog__content {
    background-color: var(--color-white);
    position: relative;
    border-radius: 0.25rem; }
    .dialog__content__close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: transparent;
      border: none; }
      .dialog__content__close-button__image {
        width: 1.5rem; }
    .dialog__content__main {
      padding: 1.5rem;
      display: grid;
      gap: 2rem; }
      .dialog__content__main__top-row {
        display: flex;
        gap: 2rem;
        font-weight: var(--font-weight-semibold);
        align-items: center; }
        .dialog__content__main__top-row__value {
          color: var(--color-dialog-subtitle);
          font-size: var(--font-size-sm); }
      .dialog__content__main__customer {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-invoice-table-border);
        padding: 0.25rem 0;
        align-items: center; }
        .dialog__content__main__customer__title {
          font-size: var(--font-size-xs);
          font-weight: var(--font-weight-semibold); }
        .dialog__content__main__customer__button {
          background-color: var(--color-dialog-button);
          display: flex;
          gap: 1rem;
          border: none;
          font-size: var(--font-size-sm);
          color: var(--color-sidebar-invoice-name);
          font-weight: var(--font-weight-semibold);
          align-items: center;
          border-radius: 0.25rem;
          padding: 0.75rem 1rem; }
          .dialog__content__main__customer__button__image {
            width: 0.75rem; }
        .dialog__content__main__customer__right {
          display: flex;
          gap: 1rem;
          align-items: end; }
          .dialog__content__main__customer__right__edit-button {
            background: transparent;
            border: none; }
            .dialog__content__main__customer__right__edit-button__image {
              width: 1.5rem; }
    .dialog__content__tax-discount-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 1.5rem; }
      .dialog__content__tax-discount-row__left {
        display: flex;
        align-items: center;
        gap: 1rem; }
      .dialog__content__tax-discount-row__right {
        display: flex;
        align-items: center;
        gap: 4rem;
        font-weight: var(--font-weight-semibold);
        color: var(--color-dialog-subtitle);
        font-size: var(--font-size-sm); }
        .dialog__content__tax-discount-row__right__value {
          color: var(--color-black); }
    .dialog__content__footer {
      background-color: var(--color-dialog-footer);
      display: flex;
      justify-content: end;
      padding: 1rem 1.5rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
      font-weight: var(--font-weight-semibold);
      color: var(--color-dialog-subtitle);
      font-size: var(--font-size-sm); }
      .dialog__content__footer--space-between {
        justify-content: space-between; }
      .dialog__content__footer__block {
        display: grid;
        gap: 0.5rem; }
        .dialog__content__footer__block__value {
          color: var(--color-dialog-subtitle); }
          .dialog__content__footer__block__value--black {
            color: var(--color-black); }
      .dialog__content__footer__button {
        background-color: var(--color-sidebar-invoice-name);
        color: var(--color-white);
        padding: 1rem 3rem;
        border-radius: 0.25rem;
        font-weight: var(--font-weight-semibold);
        border: none;
        box-shadow: 0 0px 1px rgba(0, 0, 0, 0.02), 0 0px 2.5px rgba(0, 0, 0, 0.028), 0 0px 4.6px rgba(0, 0, 0, 0.035), 0 0px 8.3px rgba(0, 0, 0, 0.042), 0 0px 15.5px rgba(0, 0, 0, 0.05), 0 0px 37px rgba(0, 0, 0, 0.07); }

.table {
  width: 100%; }
  @media print {
    .table {
      margin-top: 2rem; } }
  .table__head__item {
    padding: 1rem;
    border-top: 1px solid var(--color-invoice-table-border);
    border-bottom: 1px solid var(--color-invoice-table-border);
    color: var(--color-invoice-table-title);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-sm); }
    .table__head__item--align-left {
      text-align: left; }
    .table__head__item--align-right {
      text-align: right; }
    .table__head__item--align-center {
      text-align: center; }
  .table__body__item {
    padding: 2rem 1rem;
    border-top: 1px solid var(--color-invoice-table-border);
    border-bottom: 1px solid var(--color-invoice-table-border);
    font-weight: var(--font-weight-semibold); }
    .table__body__item--align-left {
      text-align: left; }
    .table__body__item--align-right {
      text-align: right; }
    .table__body__item--align-center {
      text-align: center; }
  .table--wrapper {
    max-height: 40vh;
    overflow-y: auto; }

.hidden {
  display: none !important; }

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem; }
  .form--single-row {
    grid-template-columns: 4fr 1fr 1fr 1fr;
    justify-content: space-between; }
  .form--fields {
    display: grid;
    gap: 1rem;
    align-content: space-between; }
  .form__field {
    display: grid;
    gap: 0.5rem; }
    .form__field__label {
      font-size: var(--font-size-xs);
      font-weight: var(--font-weight-semibold); }
    .form__field__input {
      border: 1px solid var(--color-invoice-table-border);
      border-radius: 0.25rem;
      padding: 0.75rem 1rem; }
      .form__field__input--number {
        width: 2rem;
        -webkit-appearance: none;
        appearance: none;
        -moz-appearance: textfield;
        margin: 0;
        text-align: center; }
      .form__field__input--no-resize {
        resize: none; }
  .form__button {
    background-color: var(--white);
    color: var(--color-sidebar-invoice-name);
    border-radius: 0.25rem;
    border: 1px solid var(--color-sidebar-invoice-name);
    padding: 1rem;
    justify-self: end;
    display: grid;
    place-items: center; }
    .form__button__image {
      width: 1.25rem; }

.customer-info {
  display: grid;
  gap: 0.5rem;
  text-align: right; }
  .customer-info__title {
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    color: var(--color-invoice-title);
    font-size: var(--font-size-xs); }
  .customer-info__name {
    font-weight: var(--font-weight-semibold); }
  .customer-info__email {
    text-decoration: none;
    color: var(--color-invoice-time); }

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0; }
  body {
    padding-top: 5rem;
    padding-bottom: 5rem; } }

/*# sourceMappingURL=index.css.map */
